<div class="container">
  
<h4>マイページ</h4>
<h5><strong>登録情報</strong>
<%= link_to  "編集する", edit_public_customer_path(@customer),class:"btn btn-success" %></h5>

<table border="1">
  <tr>
  <th bgcolor="gray">氏名</th>
  <td><%= @customer.last_name %>
  <%= @customer.first_name %></td>
  </tr>
  <tr>
  <th bgcolor="gray">カナ</th>
  <td><%= @customer.last_kana %>
  <%= @customer.first_kana %></td>
  </tr>
  <tr>
  <th bgcolor="gray">郵便番号</th>
  <td><%= @customer.post_code %></td>
  </tr>
  <tr>
  <th bgcolor="gray">住所</th>
  <td><%= @customer.address %></td>
  </tr>
  <tr>
  <th bgcolor="gray">電話番号</th>
  <td><%= @customer.tell %></td>
  </tr>
  <tr>
  <th bgcolor="gray">メールアドレス</th>
  <td><%= @customer.email %></td>
  </tr>
</table>

<h5><strong>配送先</strong>
<%= link_to "一覧を見る", public_deliveries_path, class:"btn btn-primary" %></h5>

<h5><strong>注文履歴</strong>
<%= link_to "一覧を見る", public_orders_path, class:"btn btn-primary"%></h5>

</div>