<h1>
  <strong>
  　<%= @customer.last_name %>
  　<%= @customer.first_name %>
　</strong>さんの
　<strong>会員情報編集</strong>
</h1>
<table class="table">
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <%= form_with model: @customer, url: edit_admin_customer_path(@customer) do |f| %>
    <tr>
      <th>氏名</th>
      <td><%= f.text_field :last_name %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= f.text_field :last_kana %></td>
      <td><%= f.text_field :first_kana %></td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td><%= f.text_field :post_code %></td>
    </tr>
    <tr>
      <th>住所</th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= t.text_field :email %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td>
        <%= f.label :is_deleted, '退会', value: 1 %>
        <%= f.radio_button :is_deleted, '1' %>
      </td>
    </tr>
  <% end %>
</table>