<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8'>
      <h2 class="mt-4">
        <span style="background-color:#eee">会員一覧</span>
      </h2>
      
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customers| %>
            <tr>
              <td><%= customers.id %></td>
              <td>
                <%= link_to admin_customer_path(customers), :style=>"color:black;" do %>
                  <%= customers.last_name %>
                  <%= customers.first_name %>
                <% end %>
              </td>
              <td><%= customers.email %></td>
              <% if customers.is_deleted %>
                <td class="text-secondary">退会</td>
              <% else %>
                <td class="text-success">有効</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customer %>
    </div>
  </div>
</div>