<h2>配送先編集</h2>

<%= form_with model:derivery,url:derivery_path(@derivery) do |f| %>
  <p>郵便番号</p>
  <p><%= f.text_field :post_code %></p>
  <p>住所</p>
  <p><%= f.text_area :address %></p>
  <p>宛名</p>
  <p><%= f.text_field :name %>
  <%= f.submit'変更内容を保存', class:'btn btn-sm btn-success' %>
  </p>
<% end %>
