<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>注文履歴詳細</h2>
      <table class="table">
        <tr>
          <th>購入者</th>
          <td>
            <%= link_to admin_customer_path(@orders) do %>
              <%= @orders.last_name %>
              <%= @orders.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @orders.create_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= @orders.address %><br>
            <%= @orders.last_name %>
            <%= @orders.first_name%>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>