<h4>注文情報確認</h4>

 <table class="table">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
            </thead>
            <tbody>
            <%= @cart_items each do |cart_item| %>
                <tr>
                    <td><%= cart_item.name %></td>
                    <td><%= cart_item.price %></td>
                    <td><%= cart_item.amount %></td>
                    <td><%= cart_item.price %></td>
                </tr>
            <% end %>    
            </tbody>
  </table>
  
  <table class="table">
            <thead>
                <tr>
                    <th>送料</th>
                    <th>商品合計</th>
                    <th>請求金額</th>
                </tr>
            </thead>
            <tbody>
                <% @cart_items.each do |cart_item| %>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <% end %>
            </tbody>
  </table>

<p class="font-weight-bold">支払方法</p>
<%= @order.payment_type %>
<p class="font-weight-bold">お届け先</p
<%= @order.post_code, @order.address, @order.name %>

<%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
<% end %>