<h4>注文情報確認</h4>

 <table class="table">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
            </thead>

            <% @cart_items.each do |cart_item| %>

             <tbody>
                <tr>
                    <td><%= cart_item.item.image %>
                     <%= cart_item.item.name %></td>
                    <td><%= cart_item.item.with_tax_price %></td>
                    <td><<%= cart_item.amount %></td>
                    <td><%= cart_item.subtotal %></td>
                </tr>
              </tbody>
             <% end %>
  </table>

  <table class="table">
            <thead>
                <tr>
                    <th>送料</th>
                    <th>商品合計</th>
                    <th>請求金額</th>
                </tr>
            </thead>
            <tbody>
                <% @cart_items.each do |cart_item| %>
                <tr>
                    <td><%= @order.postage %></td>
                    <td><%= @total += cart_item.subtotal %></td>
                    <td><%= @order.postage + @total += cart_item.subtotal %></td>
                </tr>
                <% end %>
            </tbody>
  </table>

<p class="font-weight-bold">支払方法</p>
<%= @order.payment_type_i18n %>
<p class="font-weight-bold">お届け先</p>
<%= @order.post_code %>

<%= form_with model: @order, url: public_orders_path, local: true do |f| %>
 <%= f.submit "注文を確定する", class: "btn btn-sm btn-success" %>
<% end %>