<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header class="border-bottom">
       <nav class="navbar navbar-expand-lg">
        <div class="container">

          <h1 class="navbar border border-dark"><strong>ながのCAKE</strong></h1>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if customer_signed_in? %>

                 <h5 class="ml-5">ようこそ、<%= current_customer.last_name %>さん!</h5>

                 <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5"><%= link_to "マイページ", public_customer_path(current_customer.id),class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "商品一覧", public_items_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "カート", public_cart_items_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' %></li>
                </ul>

            <% elsif admin_signed_in?  %>

               <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5"><%= link_to "商品一覧", admin_items_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "会員一覧", admin_customers_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "注文履歴一覧",admin_root_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ジャンル一覧",admin_genres_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete,class: 'nav-link text-dark'%></li>
               </ul>

            <% else %>

                 <ul class="navbar-nav ml-auto">
                  <li class ="rounded border border-dark mr-5"><%= link_to "About", public_about_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "商品一覧", public_items_path,class: 'nav-link text-dark'%></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "新規登録", new_customer_registration_path,class: 'nav-link text-dark' %></li>
                  <li class ="rounded border border-dark mr-5"><%= link_to "ログイン", new_customer_session_path,class: 'nav-link text-dark' %></li>
                 </ul>

            <% end %>

            </div>
          </div>
        </nav>
        </div>
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-ml-auto mr-5">
              <form class="d-flex">
                <i class="fas fa-search positon-relative"></i>
                <input type="search" placeholder="Search">

              </form>

            </div>
          </div>
        </div>

    </header>
    <p id="notice"><%= notice %></p>

    <%= yield %>
  </body>

</html>
